devicedb_conn_config:
    devicedb_uri: "https://{{DEVICE_ID}}:9090"
    devicedb_prefix: "vagrant"
    devicedb_bucket: "lww"
    relay_id: "{{DEVICE_ID}}"
    ca_chain: "{{DEVICEDB_SRC}}/hack/certs/myCA.pem"
targets:
    - file: "/var/log/maestro/maestro.log"
      format_time: "[%ld:%d] "
      filters:
      - levels: error
        format_pre: "\u001B[31m"    # red
        format_post: "\u001B[39m"
      - levels: info
        format_pre: "\u001B[32m"    # green
        format_post: "\u001B[39m"
    - name: "toCloud"  # this is a special target for sending to the cloud. It must send as a JSON
      format_time: "\"timestamp\":%ld%03d, "
      format_level: "\"level\":\"%s\", "
      format_tag: "\"tag\":\"%s\", "
      format_origin: "\"origin\":\"%s\", "
      format_pre_msg: "\"text\":\""
      format_post: "\"},"
      flag_json_escape_strings: true
      filters:
      - levels: all
        format_pre: "{"     # you will wrap this output with { "log": [ OUTPUT ] }
config_end: true
