sysLogSocket: "/run/systemd/journal/syslog"
network:
  disable: true
devicedb_conn_config:
  devicedb_uri: "https://{{DEVICE_ID}}:9090"
  devicedb_prefix: "vagrant"
  devicedb_bucket: "lww"
  relay_id: "{{DEVICE_ID}}"
  ca_chain: "/home/vagrant/work/gostuff/src/github.com/armPelionEdge/devicedb/hack/certs/myCA.pem"
targets:
  - file: "/var/log/maestro/maestro.log"
    name: "/var/log/maestro/maestro.log"
    format_time: "\"timestamp\":%ld%03d, "
    filters:
      - levels: "error"
config_end: true
